<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

	<!-- 启用asp.net核心布局渲染器 -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- 写入文件配置 -->
		<!-- 将日志写入文件  -->
		<target xsi:type="File" name="allfile" fileName="logs/${level}_${shortdate}.txt"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${newline}" encoding="utf-8" />
	</targets>

	<rules>
		<!--所有日志，包括来自Microsoft的-->
		<!--minlevel 改为Trace 跟踪全部 Error 只捕获异常-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!--跳过非关键的Microsoft日志，因此只记录自己的日志-->
		<logger name="Microsoft.*" maxlevel="Trace" final="true" />
	</rules>
</nlog>